@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
     Layout = "_Layout";
}


<h1 class ="text-center mt-4">Application Form</h1>


<div class="container text-white">


<div  class="row">

  <div class="col-6">
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">First Name</label>
  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Abdirahman">
</div>

    </div>

        <div class="col-6">
            <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Last Name</label>
  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Mohamud">
</div>
    </div>

     <div class="col-6">
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Date of birth</label>
  <input type="date" class="form-control" id="exampleFormControlInput1">
</div>

    </div>

        <div class="col-6">
            <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Email</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="example@gmal.com">
</div>
    </div>


         <div class="col-6">
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Username</label>
  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Username">
</div>

    </div>

   <div class="col-6">
            <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Password</label>
  <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="*******************">
</div>
    </div>


                     <div class="col-6">
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Address</label>
  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Howlwadaag,Bakaaro,Hormuud Tower">
</div>

    </div>

   <div class="col-6">
  <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Mobile Number</label>
  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="61xxxxxxx">
</div>
    </div>

             <div class="col-6">
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">File</label>
  <input type="file" class="form-control" id="exampleFormControlInput1">
</div>

    </div>

   <div class="col-6">
       <div class="mt-4">
       <div class="row">
           <div class="col-6">
                    <div class="form-check">
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
  <label class="form-check-label" for="flexRadioDefault1">
    Female
  </label>
</div>
           </div>

           <div class="col-6">
       <div class="form-check">
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
  <label class="form-check-label" for="flexRadioDefault2">
    Male
  </label>
</div>
           </div>
       </div>
       </div>



    </div>



    <div class="col-6">
        <label for="exampleFormControlInput1" class="form-label">Faculty</label>
   <select class="form-select" aria-label="Default select example">
  <option selected>Select</option>
  <option value="1">Faculty of Science </option>
  <option value="2">Faculty of Arts and Social Studies</option>
  <option value="3">Faculty of Engineering</option>
</select>


    </div>

       <div class="col-6">
           <label for="exampleFormControlInput1" class="form-label">Education Level</label>
   <select class="form-select" aria-label="Default select example">
  <option selected>Select</option>
  <option value="1">Bachelor Degree</option>
  <option value="2">Masters Degree</option>
  <option value="3">Phd</option>
</select>


    </div>

    <div class="mt-5">
        <button type="button" class="btn btn-primary">Success</button>
    </div>



</div>






</div>